
ul li {
	margin-top: 40px;
	display: inline-block;
	list-style: none;
	margin-right: 1em;
	font-family: 'Cinzel Decorative', cursive, sans serif, helvetica, sans-serif;
}

li a {
	color: white;
	text-decoration: none;
	float: left;
	font-size: 25px;
	padding: 12px;
}

li a:hover {
	color: black;
	text-shadow: 1px 1px #999;
}

li img {
	height: 100px;
	width: 100px;
	margin-top: -50px;
}

li img:hover {
	border: solid 1px #FC9D9A;
	border-radius: 50%;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
     box-shadow: 1px 1px 5px #999;
}